doctype html

html
  head
    meta(http-equiv='Content-Type' content="charset=text/html;charset=utf-8")
    meta(name="viewport",content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1")
    block meta
    block title
      title Record
    block css
    
  body
    block body
    
    block js
