extends ./head.jade

block css
  link(rel="stylesheet",href="/static/css/app.css")

block body
  #record
      nav-model
      handle-model

block js
  script(src="/static/js/manifest.js")
  script(src="/static/js/vendor.js")
  script(src="/static/js/app.js")
